*{
	margin: 0;
	padding: 0;
}

#farbara{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#linkToUsluge>*{
	height: 100vh;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#linkToUsluge>*:hover{
	background: linear-gradient( 90deg, rgba(0,0,0,.4), rgba(190,190,190,.1) );
}
.sidebar{
	position: fixed;
}
#header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	min-width: 100%;
}
/*#header>*{
	min-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}*/
#content{
	height: auto;
	margin: 40px 7.5% 0 7.5%;
	min-width: 85%;
}
#content h1{
	text-align: center;
}
#about{
	height: auto;
	width: 100%;
	margin: 30px 0;
	padding: 15px;
}
#about p{
	font-size: 14px;
	text-align: justify;
	line-height: 20px;
}
#about h3{
	font-size: 23px;
	font-weight: bold;
}
.read-more-link, .show-less-link{
	font-weight: bolder;
	font-size: 14px;
	color: #b5171a;
	cursor: pointer;
}
.display-flex{
	margin: 2% 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.google-map, .pdfLink{
	width: 100%;
	height: auto;
	text-align: center;
}
.pdfLink img{
	width: 60%;
	margin: 0 20%;
	height: auto;	
}
.pdfLink h3{
	text-align: center;
	font-weight: bold;
}
.google-map iframe{
	width: 90%;
	height: 250px;
	padding: 0 5%;
	align-items: center;
}

@media only screen and (min-width:950px){

}

@media only screen and (min-width:600px){
#content{
	height: auto;
	margin: -40px 7.5% 0 7.5%;
	min-width: 85%;
}
#content h1{
	margin: 45px 0 -10px 0;
}
#about p{
	font-size: 18px;
	line-height: 22px;
}
.read-more-link, .show-less-link{
	font-size: 18px;
}
.google-map, .pdfLink{
	width: 45%;
}
.google-map iframe{
	height: 90%;
}
}