*{
	margin: 0;
	padding: 0;
}

#farbara{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#linkToUsluge>*{
	height: 100vh;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 4px;
}
#linkToUsluge>*:hover{
	background: linear-gradient( 90deg, rgba(0,0,0,.4), rgba(190,190,190,.1) );
}
#linkToUsluge{
	text-decoration: none;
	color: RoyalBlue;
}
#linkToUsluge:hover{
	color: Navy;
}
.rotate {
	transform: rotate(-90deg);
}

#header{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-width: 100%;
}
#header>*{
	min-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#content{
	min-width: 90%;
}
#about{
	margin-top: 50px;
	padding: 15px;
}