*{
	margin: 0;
	padding: 0;
}

#farbara{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#linkToUsluge>*{
	height: 100vh;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#linkToUsluge>*:hover{
	background: linear-gradient( 90deg, rgba(0,0,0,.4), rgba(190,190,190,.1) );
}
.sidebar{
	position: fixed;
}

#header{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-width: 100%;
}
#header>*{
	min-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#content{
	min-width: 100%;
}
#about{
	height: auto;
	width: 85%;
	margin: 50px 7.5%;
	padding: 15px;
}
#about p{
	font-size: 18px;
	text-align: justify;
	line-height: 1.4em;
}
#about h3{
	font-size: 24;
	font-weight: bold;
}
#google-map{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media only screen and (min-width:950px){

}

@media only screen and (min-width:600px){

}