*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
#home{
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	overflow: hidden;
	text-align: center;
	min-width: 85%;
	margin: 40px 7.5% 0 7.5%;
}
#logo img{
	height: 380px;
	width: 100%;
}
.wrapper{
  margin: 12px 0 30px 0;
}
a, a:visited, a:hover, a:active{
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
	position: relative;
  	transition: 0.5s color ease;
	text-decoration: none;
	color: #000000;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
}
a.before:before, a.after:after{
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}
a.before:before{
  top: -4px;
}
a.after:after{
  bottom: -4px;
}
a.before:before, a.after:after{
  height: 3px;
  width: 0;
  background:#b5171a;
}
a.link:before, a.link:after{
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
a.before:hover:before ,a.after:hover:after{
  width: 110%;
}
footer{
	width: 100%;
	height: auto;
	background-color: #585755;
}
footer p{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding: 30px;
	color: white;
}
.contact-icon{
	height: auto;
	min-width: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 40px;
	padding: 15px;
}
.contact-icon img{
	height: auto;
	width: 40px;
	padding: 2px;
	margin: 0 0 0 5px;
}
.contact-icon p{
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
.contact a{
	text-decoration: none;
}
.line{
	height: 3px;
	width: 95%;
	margin: 0 2.5% 0 2.5%;
	background-color: #282828;
}
.pdfFile{
	width: 100%;
	height: 100%;
	position: absolute;
}

@media only screen and (min-width:950px){

}

@media only screen and (min-width:600px) {
#home{
	margin: -40px 7.5% 0 7.5%;
}
#logo img{
	height: 580px;
	width: 100%;
}
a,a:visited,a:hover,a:active{
	font-size:2.5em;
}
a.before:before,a.after:after{
  height:5px;
}
footer p{
	font-size: 14px;
}
.contact-icon img{
	width: 60px;
	padding: 10px;
	margin-bottom: 10px;
}
.contact-icon p{
	font-size: 17px;
}
}