*{
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
}
#home{
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	overflow: hidden;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
#logo img{
	height: 380px;
	width: 100%;
}
.wrapper{
  margin: 0.8em 0 2em 0;
}
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  	transition:0.5s color ease;
	text-decoration:none;
	color:#1a1a1a;
	font-size:1.5em;
	font-family: Arial, Helvetica, sans-serif;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:3px;
  width:0;
  background:#c02635;
}
a.link:before,a.link:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.before:hover:before,a.after:hover:after{
  width:110%;
}
footer{
	width: 100%;
	height: auto;
	background-color: #8a8a5c;
}
footer p{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding: 30px;
	color: white;
}
.contact-icon{
	height: auto;
	min-width: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 40px;
	padding: 15px;
}
.contact-icon img{
	height: auto;
	width: 40px;
	padding: 10px;
	margin-bottom: 5px;
}
.contact-icon p{
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
.contact:hover{
	opacity: .8;
}
.contact a{
	text-decoration: none;
}
.line{
	height: 3px;
	width: 95%;
	margin: 0 2.5% 0 2.5%;
	background-color: #d6d6c2;
}

@media only screen and (min-width:950px){

}

@media only screen and (min-width:600px) {
#logo img{
	height: 580px;
	width: 100%;
}
a,a:visited,a:hover,a:active{
	font-size:2.5em;
}
a.before:before,a.after:after{
  height:5px;
}
.contact-icon img{
	width: 60px;
	padding: 10px;
	margin-bottom: 10px;
}
.contact-icon p{
	font-size: 17px;
}
}