*{
	margin: 0;
	padding: 0;
}
#usluge{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#linkToFarbara>*{
	height: 100vh;
	width: 70px;
	display: flex;
	align-items: center;
}
#linkToFarbara>*:hover{
	background-color: rgba(0,0,0,.2);
}
#linkToFarbara{
	text-decoration: none;
}
.rotate {
	height: 10px;
	transform: rotate(90deg);

}

#header{
	display: flex;
	justify-content: space-around;
	min-width: 100%;
}
#content{
	min-width: 90%;
}
#about{
	margin-top: 50px;
	padding: 15px;
}