*{
	margin: 0;
	padding: 0;
}
#usluge{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#linkToFarbara>*{
	height: 100vh;
	width: 50px;
	display: flex;
	align-items: center;
}
#linkToFarbara>*:hover{
	background: linear-gradient( -90deg, rgba(0,0,0,.4), rgba(190,190,190,.1) );
}

#header{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-width: 100%;
}
#header>*{
	min-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#content{
	min-width: 80%;
    overflow:hidden;
}
#about{
	margin-top: 50px;
	padding: 15px;
}